<ol>
      <li class="section-title"><a href="../providers_user_places/providers_user_places-library.html#classes">Classes</a></li>
        <li><a href="../providers_user_places/UserPlacesNotifier-class.html">UserPlacesNotifier</a></li>




      <li class="section-title"><a href="../providers_user_places/providers_user_places-library.html#properties">Properties</a></li>
        <li><a href="../providers_user_places/userPlacesProvider.html">userPlacesProvider</a></li>




</ol>
