<ol>

        <li class="section-title"><a href="../providers_user_places/UserPlacesNotifier-class.html#constructors">Constructors</a></li>
          <li><a href="../providers_user_places/UserPlacesNotifier/UserPlacesNotifier.html">UserPlacesNotifier</a></li>


        <li class="section-title inherited">
          <a href="../providers_user_places/UserPlacesNotifier-class.html#instance-properties">Properties</a>
        </li>
          <li class="inherited"><a class="deprecated" href="https://pub.dev/documentation/state_notifier/1.0.0/state_notifier/StateNotifier/debugState.html">debugState</a></li>
          <li class="inherited"><a href="https://api.flutter.dev/flutter/dart-core/Object/hashCode.html">hashCode</a></li>
          <li class="inherited"><a href="https://pub.dev/documentation/state_notifier/1.0.0/state_notifier/StateNotifier/hasListeners.html">hasListeners</a></li>
          <li class="inherited"><a href="https://pub.dev/documentation/state_notifier/1.0.0/state_notifier/StateNotifier/mounted.html">mounted</a></li>
          <li class="inherited"><a href="https://pub.dev/documentation/state_notifier/1.0.0/state_notifier/StateNotifier/onError.html">onError</a></li>
          <li class="inherited"><a href="https://api.flutter.dev/flutter/dart-core/Object/runtimeType.html">runtimeType</a></li>
          <li class="inherited"><a href="https://pub.dev/documentation/state_notifier/1.0.0/state_notifier/StateNotifier/state.html">state</a></li>
          <li class="inherited"><a href="https://pub.dev/documentation/state_notifier/1.0.0/state_notifier/StateNotifier/stream.html">stream</a></li>

        <li class="section-title"><a href="../providers_user_places/UserPlacesNotifier-class.html#instance-methods">Methods</a></li>
          <li class="inherited"><a href="https://pub.dev/documentation/state_notifier/1.0.0/state_notifier/StateNotifier/addListener.html">addListener</a></li>
          <li><a href="../providers_user_places/UserPlacesNotifier/addPlace.html">addPlace</a></li>
          <li><a href="../providers_user_places/UserPlacesNotifier/deletePlace.html">deletePlace</a></li>
          <li class="inherited"><a href="https://pub.dev/documentation/state_notifier/1.0.0/state_notifier/StateNotifier/dispose.html">dispose</a></li>
          <li><a href="../providers_user_places/UserPlacesNotifier/loadPlaces.html">loadPlaces</a></li>
          <li class="inherited"><a href="https://api.flutter.dev/flutter/dart-core/Object/noSuchMethod.html">noSuchMethod</a></li>
          <li class="inherited"><a href="https://api.flutter.dev/flutter/dart-core/Object/toString.html">toString</a></li>
          <li class="inherited"><a href="https://pub.dev/documentation/state_notifier/1.0.0/state_notifier/StateNotifier/updateShouldNotify.html">updateShouldNotify</a></li>

        <li class="section-title inherited"><a href="../providers_user_places/UserPlacesNotifier-class.html#operators">Operators</a></li>
          <li class="inherited"><a href="https://api.flutter.dev/flutter/dart-core/Object/operator_equals.html">operator ==</a></li>




</ol>
